body, html{
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    font-family: monospace;
}

input, textarea {
    -moz-user-select: text;
}