/*
    Estilo do menu de criação de dashBoards
*/

#NewDashBoard{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


#init_view_form {
    padding-top: 10px;
    float: left;
    flex-grow: 1;
    overflow-y: none;
}

#init_view_form input, #init_view_form select, #init_view_form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


#init_view_form textarea{
    height: 150px;
}

#init_view_form label{
    font-size: 17px;
    color: lightgray;
}

#init_view_form input[type=button]:hover {
    background-color: #2f394b;
    border: 1px solid #3e4d68;
    color: lightgray;
    cursor: pointer;
}


#init_view_form input[type=button] {
    margin-left: 79%;
    width: 20%;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    outline: none;
    border-radius: 3px;
    box-shadow: none;
    text-align: center;
    border: 1px solid #2e3034;
    background-color: #394149;
    font-size: 18px;
    color: #929191;
}

/*
    Estilo do menu de abertura dos dashBoards
*/

#DashBoardsList{
    padding: 0px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#dashBoardsSearchBar {
    box-sizing: border-box;
    font-size: 18px;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    border: none;
    outline: none;
    width: 100%;
    box-shadow: none;
    text-decoration: none;
    overflow: hidden;
}

#SavedDashBoardsList {
    overflow-y: auto;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#SavedDashBoardsList button {
    padding: 8px 8px 8px 32px;
    outline: none;
    box-shadow: none;
    text-align: right;
    text-decoration: none;
    margin: 0px;
    font-size: 25px;
    border: none;
    background-color: #333d49;
    color: lightgray;
    display: block;
    transition: 0.1s;
}

#SavedDashBoardsList button:hover {
    background-color: #5a6470;
}

/*
    Estilo do menu de edição dos dashBoards
*/

#DashBoardsEdit{
    padding: 0px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#DashBoardsEditSearchBar {
    box-sizing: border-box;
    font-size: 18px;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    border: none;
    outline: none;
    width: 100%;
    box-shadow: none;
    text-decoration: none;
    overflow: hidden;
}

#SavedDashBoardsEditList {
    overflow-y: auto;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#SavedDashBoardsEditList button {
    padding: 8px 8px 8px 32px;
    outline: none;
    box-shadow: none;
    text-align: right;
    text-decoration: none;
    margin: 0px;
    font-size: 25px;
    border: none;
    background-color: #333d49;
    color: lightgray;
    display: block;
    transition: 0.1s;
}

#SavedDashBoardsEditList button:hover {
    background-color: #5a6470;
}

/*
    Estilo do menu de edição dos inputs
*/

#EditInputs{
    padding: 0px;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#editInputsSearchBar {
    box-sizing: border-box;
    font-size: 18px;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    border: none;
    outline: none;
    width: 100%;
    box-shadow: none;
    text-decoration: none;
    overflow: hidden;
}

#inputList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.save_input_btn{
    border-radius: 3px;
    box-shadow: none;
    color: #929191;
    outline: none;
    background-color: rgba(92, 184, 92, 0.2);
    border: solid 1px;;
    border-color: rgb(92, 184, 92);
}

.save_input_btn:hover{
    color: white;
    background-color: rgb(92, 184, 92);
    border-color: rgb(91, 206, 91);
}

.delete_input_btn{
    border-radius: 3px;
    box-shadow: none;
    color: #929191;
    outline: none;
    border: solid 1px;
    background-color: rgba(217, 65, 61, 0.2);
    border-color: rgb(217, 65, 61);
}

.delete_input_btn:hover{
    color: white;
    background-color: rgb(217, 65, 61);
    border-color: rgb(250, 65, 59);
}

.standard_input_border{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/*
    Estilo do menu de inserção dos plots
*/

#BlocksList{
    padding: 0px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}